<div>
  <h1>Join the Club</h1>
  <form action="/become-member" method="POST">
    <input type="text" name="codeMember" placeholder="Enter invite code" />
    <button type="submit">Become A Member</button>
  </form>
  <a href="/">Back to home</a>
</div>
