<div>
  <h1>Lead the Club</h1>
  <form action="/become-admin" method="POST">
    <input type="text" name="codeAdmin" placeholder="Enter admin code" />
    <button type="submit">Become An Admin</button>
  </form>
  <a href="/">Back to home</a>
</div>
