<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <% if (currentUser) {%>
    <h1>Logged in as <%= currentUser.user_name %></h1>
    <% if (!currentUser.member) {%>
    <a href="/become-member">BECOME A MEMBER</a>
    <% } %>
    <a href="/new-message">CREATE A NEW MESSAGE</a>
    <a href="/logout">LOG OUT</a>
    <% } else { %>
    <a href="/signup">SIGN UP</a>
    <a href="/login">LOG IN</a>
    <%}%>
  </body>
</html>
