<div>
  <h1>Please log in</h1>
  <form action="/login" method="POST">
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <button type="submit">Log In</button>
  </form>
  <a href="/">Back to home</a>
</div>
