<div>
  <h1><%= title %></h1>
  <form action="/new-message" method="post">
    <label for="message"> Send A New Message</label>
    <textarea name="message" required></textarea>

    <button type="submit">send</button>
  </form>
  <a href="/">Back to home</a>
</div>
